:root {--font: "Roboto";
}

.header {background-color: black;
          color: white;
          display: flex;
          justify-content: space-between;
          padding: 15px;
          width: 100%;
          position:sticky;
          left: 0;
          top:0;
          z-index: 100;
        }

body {
    font-family:var(--font)
}

.icono-logo {width: 110px;}

.icono-menu {width: 30px;}

.section1 {
    background-color: rgb(82, 156, 241);
    height: 50vh;
    color: white;
    }

.titulo-seccion-1{
     font-family:var(--font);
}

.subtitulo-1{
    font-size: medium;
}
.parrafo-1{
    font-size: 10px;
}