.section2 { display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap:20px;
    margin-bottom: 20px;

    }

.titulo-seccion-2{
     font-family: $font-main;
    font-weight: bold;
    text-align: center;
    font-size: 30px;
     margin-top: 30px;
    margin-bottom: 20px;
        
    } 
    


    


.icon-benefit {width: 130px;
        padding: 10px;}

.article0 {display: flex;
        @include article_function();
        
}

.div1 {}