.footer{
  background-color:black;
  color: white;
  font-family: var(--font);
}

.copyright{
  display: flex;
  justify-content: right;
  padding-top: 15px;
  padding-bottom: 30px;


}

.info{
  display: flex;
  justify-content: left;
  

}

