<section class="section2">
    <h2 class="titulo-seccion-2">¿Por qué pasarte a premium?</h2>



<div class="container-article">
    <load src="/partials/benefits.html" title="Descarga música" text="Llévala siempre contigo" cssStyle="div" cssStyle2="icon-benefit" image="./images/benefit-1.png" article="article"/>
    
    <load src="/partials/benefits.html" title="Sin anuncios" text="Disfruta de musica sin interrumpciones" cssStyle="div" cssStyle2="icon-benefit" image="./images/benefit-2.png" article="article"/>
    
    <load src="/partials/benefits.html" title="Escucha lo que quieras" text="Incluso en el movil" cssStyle="div" cssStyle2="icon-benefit" image="./images/benefit-3.png" article="article"/>
    
    <load src="/partials/benefits.html" title="Salta todas las canciones que quieras" text="Simplemente dale  siguiente" cssStyle="div" cssStyle2="icon-benefit" image="./images/benefit-4.png" article="article"/>
</div>



</section>