<section class="section2">
    <h2 class="titulo-seccion-2">¿Por qué pasarte a premium?</h2>

<load src="/partials/benefits.html" title="Descarga música" text="Llévala siempre contigo" cssStyle="div1" cssStyle2="icon-benefit" image="./images/benefit-1.png" article="article0"/>

<load src="/partials/benefits.html" title="Sin anuncios" text="Disfruta de musica sin interrumpciones" cssStyle="div2" cssStyle2="icon-benefit" image="./images/benefit-2.png" article="article1"/>

<load src="/partials/benefits.html" title="Escucha lo que quieras" text="Incluso en el movil" cssStyle="div3" cssStyle2="icon-benefit" image="./images/benefit-3.png" article="article2"/>

<load src="/partials/benefits.html" title="Salta todas las canciones que quieras" text="Simplemente dale  siguiente" cssStyle="div4" cssStyle2="icon-benefit" image="./images/benefit-4.png" article="article3"/>



</section>